/*
style.css
---------
 
Par Charly MUZIOTTI
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@290;351;402;500;600;700&display=swap') ;

body
     {
        font-family: 'Raleway', sans-serif, font-awesome;
    }
 
p
{
    color: black;
    font-weight: bold;
    margin-left: 10px;
}

/* HEADER */

header
{
    width: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 100%
}
img {
    padding: 10px;
}
#menu-nav {
    display: flex;
    align-items: center;
    width: 30%;
    flex-direction: row;
}
nav.navigation_enfant {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
a.nav {
    text-decoration: none;
    font-weight: bold;
    padding: 25px;
}
a.nav:hover {
    border-top: solid;
    color: #0065fc;
    font-weight: bold;
}

a {
    color: black;
    font-size: small;
    text-decoration: none;
}
/* SEARCH */

    /* SEARCH FORM */
form {
    margin: 1%;
    display: flex;
}
span.icone_search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2%;
    background-color: #F2F2F2;
    height: 47%;
    border-radius: 5px 0px 0px 5px;
    border: solid;
    border-width: thin;
    border-right: none;
    border-color: transparent;
}
.search_form {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
}
input#Rechercher {
    height: 50%;
    border: solid;
    border-left: none;
    border-right: none;
    border-width: thin;
    border-color: #F2F2F2;
}
i.fas.fa-search {
    display: none;
}
.txtfiltre {
    width: 5%;
    font-weight: bold;
}
label {
    background-color: #0065FC;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 0px 5px 5px 0px;
    height: 50%;
    align-items: center;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
}
.boutonsfiltre {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.boutons_filtres_parent {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 35px;
    align-items: center;
}
.boutons_filtre_enfant:hover {
    padding: 3px;
    box-shadow: gray;
    text-shadow: black;
    border-color: skyblue;
    background-color: skyblue;
}

.filtres {
    display: flex;
    align-items: center;
    width: 75%;
}
span {
    width: 85%;
    text-align: center;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
}
span.sousaccroche {
    font-size: smaller;
}
.boutons_filtre_enfant {
    border: solid;
    border-width: 3px;
    border-color: #F2F2F2;
    border-radius: 20px;
    min-width: fit-content;
}
.boutons_filtre_enfant {
    display: flex;
    width: 15%;
    height: 80%;
    align-items: center;
}
.icone {
    border: solid;
    border-color: #F2F2F2;
    border-radius: 100%;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -3px;
    background: aliceblue;
    padding-right: 5px;
    padding-left: 5px;
}
.icone i {
    color: #0065FC;
}

/* ACCROCHE */

.nbre_logments {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-around;
}
p#nbre_logement {
    font-size: 1em;
}
i.fas.fa-info-circle {
    color: #0065FC;
}
    /* HEBERGEMENTS MARSEILLE */
h2#hosting_mrs 
{
    width: 40%;
}
    p.price_hosting {
        font-size: small;
}
.hebergementmarseille {
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    margin-left: 20px;
    margin-right: 30px;
}
article#article1 {
    order: 1;
}
article#article2 {
    order: 2;
}
article#article3 {
    order: 3;
}
article#article4 {
    order: 1;
}
article#article5 {
    order: 2;
}
article#article6 {
    order: 6;
}
.img_article {
    width: 100%;
    height: 120px;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    background-position: center;
}
div#cannebiere
{
    background-image: url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}
div#hotelport
{
    background-image: url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}
div#mouettes
{
    background-image: url(images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}
div#hotelmer
{
    background-image: url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}
div#panier
{
    background-image: url(images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}
div#amina
{
    background-image: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
}
article.hostingarticle {
    width: 25%;
    height: 20%;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    padding: 6px;
    box-shadow: 1px 3px 3px lightgrey;
}
.txt_article {
    width: 100%;
}
.listehotels {
    width: 100%;
    height: auto;
    max-height: 600px;
    align-content: space-around;
}
img.imghosting {
    width: 100%;
    height: 100%;
}
section#hosting {
    display: flex;
    justify-content: space-around;
}
.listehotels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}


    /* POPULAR */

aside.hostingpopular {
    width: 35%;
    height: auto;
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 10px;
}
a.linkpopular {
    display: flex;
    width: 100%;
    height: 100%;
}
.accroche_popular {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.img_popular {
    width: 35%;
    height: auto;
    background-size: cover;
    border-radius: 10px 0px 0px 10px;
    background-position: center;
}
div#soleilmatin
{
    background-image: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
}
div#coeureau
{
    background-image: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
}
div#bleublanc
{
    background-image: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
}
.txt_popular {
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article.hostingpopular {
    width: 85%;
    display: flex;
    margin: 20px;
    padding: 6px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 3px 3px lightgrey;
    justify-content: space-around;
}
img.imgpopularimg {
    width: 100%;
    height: 100%;
}

.listepopular {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 90%;
}

/* CSS ETOILES NOTATION
/* Par défaut, une étoile est en gris,
   avec un padding et un curseur en forme de main. */
.fa-star {
	color: gray;
	cursor: pointer;
	padding: 0.0625rem;
}
/* Si elle porte en plus la classe '.blue', elle sera en bleu. */
.fa-star.blue {
	color: #0065FC;
}
/* Le parent global '.rating' positionne le groupe des étoiles et le lien en colonne */
.rating {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
	/* Le groupe '.stars' positionne les étoiles
		 les unes à côté des autres sans espacements. */
	.stars {
		display: flex;
}

	/* A l'état :hover sur le parent '.rating',
		 on force TOUTES les étoiles à passer en bleu. */
	.stars:hover .fa-star {
		color: #0065FC;
	}
	/* Et si la souris survole une étoile en particulier,
		 on sélectionne toutes les étoiles qui sont APRÈS celle-ci
		 grâce à l'opérateur '~' et on les force en GRIS */
	.stars .fa-star:hover ~ .fa-star {
		color: gray;
	}
	.stars{
    width: auto;
    height: auto;
}

/* ACTIVITIES */

.img_activities_gd {
    width: 100%;
    height: 83%;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}
div#vieuxport
{
    background-image: url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
}
div#pomegues
{
    background-image: url(images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}
div#frioul
{
    background-image: url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);;
}
div#calanques
{
    background-image:  url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
}
div#lagarde
{
    background-image: url(images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
}
div#longchamp
{
    background-image: url(images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
}
a.link_activity_gd 
{
    display: flex;
    width: 20%;
}
article.activityarticle_gd {
    width: 100%;
    padding: 10px;
    box-shadow: 1px 3px 3px grey;
    border-radius: 10px;
    background-position: center;
}

.liste_activities {
    height: auto;
    width: 100%;
    max-height: 600px;
    align-content: space-around;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

img.img_activitiesimg {
    width: 100%;
    height: 100%;
}
.img_activities {
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0px 0px;
}
.txt_activities {
    width: 100%;
}
.activity_small {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
article.activityarticle {
    margin: 10px;
    box-shadow: 1px 3px 3px grey;
    border-radius: 10px;
    padding: 10px;
}


/* FOOTER */
footer {
    display: flex;
    padding-top: 2%;
    background-color: #F2F2F2;
}
.footer_parent {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-content: center;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.apropos {
    width: 33%;
}
.ourhosting {
    width: 33%;
}
.assist {
    width: 33%;
}
/* FOOTER */



/* VERSION TABLETTE */

@media all and (min-width: 480px) and (max-width: 1024px)
{
.header
{
    width: 80%;
}
nav.navigation_enfant
{
    width: unset;
}
a.nav
{
    font-size: 1.2em;
}
.accroche
{
    font-size: 1.5em;
}
.search_form
{
    width: 100%;
    justify-content: center;
}
span.icone_search
{
    width: 5%;
    height: 80%;
}
input#Rechercher
{
    width: 20%;
    height: 80%;
    font-size: 1.3em;
}
label
{
    width: 15%;
    height: 80%;
    font-size: 1.4em;
}
.filtres
{
    width: 100%;
    font-size: 1.5em;
    justify-content: space-between;
}
.nbre_logments
{
    width: 60%;
    justify-content: flex-start;
    font-size: 1.3em;
}
section#hosting
{
    flex-direction: column;
    width: 100%;
}
aside.hostingpopular
{
    width: 95%;
    align-self: center;
}
.listepopular
{
    flex-direction: row;
}
.hebergementmarseille
{
    width: 95%;
    order: 2;
    margin: inherit;
    align-self: center;
}
a.afficher_plus
{
    font-size: 1.3em;
}
}

/* VERSION IPHONE */

@media all and (max-width: 480px)
{
div.header
{
    flex-direction: column;
    justify-content: space-between;
}
div#logo_reservia
{
    width: 50%;
    height: 0;
}
div#menu-nav
{
        width: 100%;
        flex-direction: column-reverse;
}
nav.navigation_enfant
{
    justify-content: center;
}
div.inscription_enfant
{
    font-size: 0.8em;
    justify-content: flex-end;
    width: 100%;
    display: flex;
}
a.nav 
{
    float: left;
    font-size: 1.2em;
    color: #0065FC;
}
a.nav:hover 
{
    border-bottom: solid;
    color: #0065fc;
    font-weight: bold;
    border-top: none;
}
section#search
{
    width: 100%;
}
div.filtres
    {
        width: 100%;
        flex-direction: column;
    }
.txtfiltre
{
    width: 100%;
}
.boutons_filtres_parent
{
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    justify-content: flex-start;
}
.boutons_filtre_enfant 
    {
        font-size: 1.1em;
        font-weight: 600;
        margin: 10px;
        padding: 10px;
        border-radius: 80px;
    }
.icone
{
    padding: 11px;
    margin-left: -15px;
    margin-top: -13px;
    margin-bottom: -13px;
}
span.texte_bouton
{
    margin-left: 5px;
}
label
{
    display: none;
}
div.search_form
{
    width: 100%;
}
input#Rechercher
{
    width: 280px;
    height: 75%;
    padding-left: 10px;
    font-size: 1.1em;
    font-weight: bold;
}
i.fas.fa-search
{
    display: inline;
    border: solid;
    border-left: none;
    border-radius: 5px 5px 5px 5px;
    border-color: #F2F2F2;
    border-width: thin;
    background-color: #0065FC;
    padding: 6px;
    color: white;
    height: 55%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
span.icone_search
{
    width: 10%;
    height: 75%;
}
div.accroche
{
    width: 100%;
}
p#nbre_logement
{
    font-size: 0.5em;
}
section#hosting
{
    flex-direction: column;
    width: 100%;
}
div.listehotels
{
    flex-direction: column;
    max-height: fit-content;
    width: 100%;
}
div.hebergementmarseille
{
    order: 2;
    background-color: white;
    width: 100%;
    margin: unset;
    padding: unset;
}
h2#hosting_mrs
{
    width: 100%;
}
article.hostingarticle
{
    width: 95%;
    height: auto;
    padding: unset;
}
div.img_article
{
    width: 100%;
    height: 121px;
    background: no-repeat;
    background-size: cover;
    background-position: left;
}
p.title_hosting
{
    font-size: 1em;
}
div.txt_article
{
    height: 60%;
}
a.afficher_plus
{
    font-size: 1.3em;
    font-weight: bold;
}
aside.hostingpopular
{
    flex-direction: column;
    width: 100%;
    border-radius: unset;
    padding-right: 8px;
    margin-left: -8px;
}
.listepopular
{
    width: 100%;
}
article.hostingpopular
{
width: 90%;
height: auto;
}
a.link_activity_gd {
    width: 100%;
    /* padding: unset; */
    justify-content: center;
}
div.img_popular
{
    width: 150px;
    height: 140px;
}
div.txt_popular
{
    width: 50%;
}
p.price_hosting
{
    font-size: 1.1em;
    font-weight: unset;
}
div.stars
{
    margin-left: 9px;
}
div.info_popular
{
    height: 100px;
}
div.nbre_logments
{
    width: 100%;
    font-size: 2em;
}
div.activities
{
    flex-direction: column;
    width: 100%;
}
p.txt_activity_enfant
{
    font-size: 1em;
}
article.activityarticle_gd
{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-self: center;
}
article.activityarticle
{
    width: 95%;
    margin: unset;
}
div.activity_small
{
    width: 100%;
    height: 32%;
}
div.liste_activities
{
    width: 100%;
    flex-direction: column;
    max-height: none;
    height: 1300px;
}
div.img_activities_gd
{
    width: 100%;
    height: 135px;
}
.img_activities
{
    width: 100%;
    height: 135px;
}
footer
{
    padding-bottom: 30px;
    width: 100%;
    margin-left: -8px;
    padding-right: 16px;
    margin-bottom: -8px;
}
.footer_parent
{
    width: 100%;
    flex-direction: column;
}
.apropos
{
    width: 100%;
    margin-left: 6px;
}
.ourhosting
{
    width: 100%;
    margin-left: 6px;
}
.assist
{
    width: 100%;
    margin-left: 6px;
}
}
