/*
style.css
---------
 
Par Charly MUZIOTTI
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@290;351;402;500;600;700&display=swap');

body
     {
        font-family: 'Raleway', sans-serif, font-awesome;
    }
 
p
{
    color: black;
    font-weight: bold;
    margin-left: 10px;
}

/* HEADER */

header
{
    width: 100%;
}
div.header {
    display: flex;
    justify-content: space-between;
    width: 100%
}
img {
    padding: 10px;
}
#menu-nav {
    display: flex;
    align-items: center;
    width: 30%;
    flex-direction: row;
}
nav.navigation_enfant {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
a.nav {
    text-decoration: none;
    font-weight: bold;
    padding: 25px;
}
a.nav:hover {
    border-top: solid;
    color: #0065fc;
    font-weight: bold;
}

a {
    color: black;
    font-size: small;
    text-decoration: none;
}
/* SEARCH */

    /* SEARCH FORM */
form {
    margin: 1%;
    display: flex;
}
span.icone_search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2%;
    background-color: #F2F2F2;
    height: 47%;
    border-radius: 5px 0px 0px 5px;
    border: solid;
    border-width: thin;
    border-right: none;
    border-color: #F2F2F2;
}
.search_form {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
}
input#Rechercher {
    height: 50%;
    border: solid;
    border-left: none;
    border-right: none;
    border-width: thin;
    border-color: #F2F2F2;
}
.txtfiltre {
    width: 5%;
    font-weight: bold;
}
label {
    background-color: #0065FC;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 0px 5px 5px 0px;
    height: 50%;
    align-items: center;
    font-weight: bold;
}
.boutonsfiltre {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.boutons_filtres_parent {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 35px;
    align-items: center;
}

.filtres {
    display: flex;
    align-items: center;
    justify-content: spa;
    width: 75%;
}
span {
    width: 85%;
    text-align: center;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
}
span.sousaccroche {
    font-size: smaller;
}
i#icone_bouton {
    color: #0065FC;
}

.boutons_filtre_enfant {
    border: solid;
    border: 3%;
    border-width: 3px;
    border-color: #F2F2F2;
    border-radius: 20px;
    min-width: fit-content;
}
.boutons_filtre_enfant {
    display: flex;
    width: 15%;
    height: 80%;
    align-items: center;
}
.icone {
    border: solid;
    border-color: #F2F2F2;
    border-radius: 100%;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -3px;
    background: aliceblue;
    padding-right: 5px;
    padding-left: 5px;
}

/* ACCROCHE */

.nbre_logments {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-around;
}
p#nbre_logement {
    font-size: 1em;
}
i.fas.fa-info-circle {
    color: #0065FC;
}
.accroche {
    margin-block: 1%;
}

/* FILTERS */

.filtres {
    margin-block: 2%;
}

/* HOSTING */

section#hosting {
    padding-block: 2%;
    margin-block: 2%;
}

    /* HEBERGEMENTS MARSEILLE */
h2#hosting_mrs 
{
    width: 40%;
}
    p.price_hosting {
        font-size: small;
}
.hebergementmarseille {
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    margin-left: 20px;
    margin-right: 30px;
}

.img_article {
    width: 100%;
    height: 120px;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    background-position: center;
}
article.hostingarticle {
    width: 25%;
    height: 20%;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    padding: 6px;
    box-shadow: 1px 3px 3px lightgrey;
}
.txt_article {
    width: 100%;
}
.listehotels {
    width: 100%;
    height: auto;
    max-height: 600px;
    align-content: space-around;
}
img.imghosting {
    width: 100%;
    height: 100%;
}
section#hosting {
    display: flex;
    justify-content: space-around;
}
.listehotels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}


    /* POPULAR */

aside.hostingpopular {
    width: 35%;
    height: auto;
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 10px;
}
.accroche_popular {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.img_popular {
    width: 35%;
    height: auto;
    background-size: cover;
    border-radius: 10px 0px 0px 10px;
    background-position: center;
}
.txt_popular {
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article.hostingpopular {
    width: 85%;
    height: 40%;
    display: flex;
    margin: 20px;
    padding: 6px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 3px 3px lightgrey;
    justify-content: space-around;
}
img.imgpopularimg {
    width: 100%;
    height: 100%;
}

.listepopular {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 90%;
}

/* CSS ETOILES NOTATION
/* Par défaut, une étoile est en gris,
   avec un padding et un curseur en forme de main. */
.fa-star {
	color: gray;
	cursor: pointer;
	padding: 0.0625rem;
}
/* Si elle porte en plus la classe '.blue', elle sera en bleu. */
.fa-star.blue {
	color: #0065FC;
}
/* Le parent global '.rating' positionne le groupe des étoiles et le lien en colonne */
.rating {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
	/* Le groupe '.stars' positionne les étoiles
		 les unes à côté des autres sans espacements. */
	.stars {
		display: flex;
}

	/* A l'état :hover sur le parent '.rating',
		 on force TOUTES les étoiles à passer en bleu. */
	.stars:hover .fa-star {
		color: #0065FC;
	}
	/* Et si la souris survole une étoile en particulier,
		 on sélectionne toutes les étoiles qui sont APRÈS celle-ci
		 grâce à l'opérateur '~' et on les force en GRIS */
	.stars .fa-star:hover ~ .fa-star {
		color: gray;
	}
	.stars{
    width: auto;
    height: auto;
}

/* ACTIVITIES */

.img_activities_gd {
    width: 100%;
    height: 83%;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}

article.activityarticle_gd {
    width: 20%;
    padding: 10px;
    box-shadow: 1px 3px 3px grey;
    border-radius: 10px;
    background-position: center;
}

.liste_activities {
    height: auto;
    width: 100%;
    max-height: 600px;
    align-content: space-around;
}

img.img_activitiesimg {
    width: 100%;
    height: 100%;
}
.img_activities {
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0px 0px;
}
.activities {
    margin-block: 2%;
}
.txt_activities {
    width: 100%;
}

.liste_activities {
    display: flex;
    justify-content: space-around;
}
.activity_small {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
article.activityarticle {
    margin: 10px;
    box-shadow: 1px 3px 3px grey;
    border-radius: 10px;
    padding: 10px;
}


/* FOOTER */
footer {
    display: flex;
    padding-top: 2%;
    background-color: #F2F2F2;
}
.footer_parent {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-content: center;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.apropos {
    width: 33%;
}
.ourhosting {
    width: 33%;
}
.assist {
    width: 33%;
}
/* FOOTER */



/* VERSION IPHONE */

@media all and (max-device-width: 480px)
{
div.header
{
    flex-direction: row;
    justify-content: space-between;
}
div#logo_reservia
{
    width: 50%;
}
div#menu-nav
{
        width: inherit;
        flex-direction: column-reverse;
}
nav.navigation_enfant
{
    justify-content: center;
    margin-left: -115px;
}
div.inscription_enfant
{
    margin-left: 105px;
    font-size: 0.8em;
}
a.nav 
{
    float: left;
    font-size: 1.2em;
    color: #0065FC;
}
section#search
{
    width: 100%;
}
div.filtres
    {
        width: 100%;
        flex-direction: column;
    }
.txtfiltre
{
    width: 100%;
}
.boutons_filtres_parent
{
    width: 100%;
}
div.boutons_filtres_parent
{
    flex-wrap: wrap;
    height: auto;
    flex-direction: row;
    justify-content: flex-start;
}
div.boutons_filtre_enfant 
    {
flex-direction: row;
justify-content: space-around;
    }
div.search_form
{
    width: 100%;
    justify-content: center;
}
div.accroche
{
    width: 100%;
}
p#nbre_logement
{
    font-size: 0.5em;
}

section#hosting
{
    flex-direction: column;
    width: 100%;
}
div.listehotels
{
    flex-direction: column;
    max-height: fit-content;
    width: 95%;
}
div.hebergementmarseille
{
    order: 2;
    background-color: white;
    margin: auto;
    width: 100%;
}
h2#hosting_mrs
{
    width: 100%;
}
article.hostingarticle
{
    width: 100%;
    height: auto;
}
div.img_article
{
    width: 340px;
    height: 121px;
    background: no-repeat;
    background-size: cover;
    background-position: left;
}
p.title_hosting
{
    font-size: 1.4em;
}
div.txt_article
{
    height: 60%;
}
a.afficher_plus
{
    font-size: 1.3em;
    font-weight: bold;
}
aside.hostingpopular
{
    flex-direction: column;
    width: 100%;
    margin-left: -7px;
    border-radius: unset;
    padding: 14px;
}
.listepopular
{
    width: 100%;
}
article.hostingpopular
{
width: 100%;
height: auto;
}
div.img_popular
{
    width: 45%;
    height: auto;
    background-position: center;
}
div.txt_popular
{
    width: 50%;
}
p.price_hosting
{
    font-size: 1.1em;
    font-weight: unset;
}
div.stars
{
    size: 1em;
    margin-left: 9px;
}
div.info_popular
{
    width: auto;
    height: 90%;
    ;
}
div.nbre_logments
{
    width: 100%;
    width: 100%;
    display: flex;
    font-size: 2em;
    justify-content: space-around;
}
div.activities
{
    flex-direction: column;
    margin-left: 4px;
    width: 95%;
}
p.txt_activity_enfant
{
    font-size: 1.4em;
}
article.activityarticle_gd
{
    width: 100%;
}
article.activityarticle
{
    width: 100%;
    margin-left: 4px;
}
div.activity_small
{
    width: 100%;
    margin: inherit;
}
div.liste_activities
{
    width: 100%;
    flex-direction: column;
    max-height: none;
    margin-left: -5px;
}
div.img_activities_gd
{
    width: 100%;
    height: 135px;
}
.img_activities
{
    width: 100%;
    height: 135px;
}
footer
{
    width: 375px;
    margin: -7px;
    margin-top: 20px;
    padding-bottom: 30px;
    padding: 14px;
}
.footer_parent
{
    width: 100%;
    flex-direction: column;
}
.apropos
{
    width: 100%;
    margin-left: 6px;
}
.ourhosting
{
    width: 100%;
    margin-left: 6px;
}
.assist
{
    width: 100%;
    margin-left: 6px;
}
}